################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ShoppingCart/ShoppingCart/.vs
/ShoppingCart/ShoppingCart/obj
/ShoppingCart/ShoppingCart/bin/Debug/net8.0
